<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ATDAID Framework Test Suite">
    <listeners>
        <listener class-name="com.tenpearls.listeners.TestListener"/>
    </listeners>
    <test name="Service Tests">
        <packages>
            <package name="com.tenpearls.service.*"/>
        </packages>
        <classes>
            <class name="com.tenpearls.service.ProductServiceTest"/>
        </classes>
    </test>
    <test name="Acceptance Tests">
        <packages>
            <package name="com.tenpearls.accpetance.*"/>
        </packages>
    </test>
</suite>